.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 0 5px gray;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  .btn {
    background-color: #f9f9f9;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    padding: 2px 4px;
    transition: background-color 0.5s;
    &:hover {
      background-color: #cfcfcf;

    }
  }
}